# JetBrains stuff
.idea

# Application secrets
.env

# Application logs
logs

# JSON managed by the persistence module
database.json

# Local configuration
aitchi/config/environments/development.json
